.client {
  background-color: #fafafa;
  background-size:auto;
  background-image: url("../../../assets/logo500.png");
  background-repeat: no-repeat;
  background-position:29vw 60vw;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.c-hello {
  border-bottom: 1px solid #00cccc;
  padding-bottom: 0%;
  display: flex;
} 

.c-hello-search {
  border-bottom: 1px solid #00cccc;
  margin-left: auto;
  margin-right: auto;
} 

.c-allOrders {
  margin-top: 10%;
}

.c-h-logout-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -5%;
  margin-right: 5%;
}

.img-arrow {
  width: 35px;
  height: 35px;  
  margin-top: 60%;
  margin-left: 10%;
}

.title-client {
  margin-left: auto;
  margin-right: auto;
}

.hello-client {
  display: flex;
  font-weight: bold;
  margin-right: -18%;
}

.button-client {
  margin-top: 50px;
}

.button-pos {
  outline: none;
  background: #c4c4c4;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  width: 250px;
}

button:hover {
  background-color: #00CCCC;
  transition-duration: 0.3s;
}