.panel-close { 
  background: #e0e0e0;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  opacity:0;
  width:fit-content;
  height:0;
  overflow: hidden;
  transition-timing-function: ease-out;
  transition: all 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-open {
  overflow: hidden;
  background: #e0e0e0;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity:1;
  width: fit-content;
  height: auto;
  transition-timing-function: ease-in;
  transition: all;
  display: block;
  margin-top: -1%;
  margin-left: auto;
  margin-right: auto;
}

.order-info {
  text-align: left;
}

button.inactive {
  width: fit-content;
  height: 80px;
}

button.active {
  width: 300px;
  height: 80px;
  outline: none;
  background-color: #00CCCC;
  color: #ffffff;
  border: #00CCCC solid 1px;
}
